# Banco de Dados (Prisma)
DATABASE_URL="mysql://root:sua_senha@database:3306/zetta_tasks"

# Docker MySQL
DB_PASSWORD=
DB_NAME=zetta_tasks

# Autenticação
JWT_SECRET=

# Server
PORT=3000
NODE_ENV=development